header, footer {
  background-color: #444444;
}

#navlogo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px 10px 0px;
}

[id^="navitem"] {
  display: inline;
  vertical-align: middle;
  color: white;
  padding: 10px 30px 10px 30px;
}

#div1 {
  display: table;
  margin: auto;
}

/* header {
  display: table;
  margin: auto;
  width: 100%;
} */


#section1 {
  display: table;
  margin: auto;
  margin-top: 30px;
}

#section2, #section3, #section4 {
  display: table;
  margin: auto;
}

#section5 {
  margin-top: 30px;
}