header, footer {
  background-color: #444444;
}

#navlogo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px 10px 0px;
}

[id^="navitem"] {
  display: inline;
  vertical-align: middle;
  color: white;
  padding: 10px 45px 10px 45px;
}


#div1 {                         /*  for the heading */
  display: table;
  margin: auto;
  width: 960px;
  margin-bottom: 30px;
}

#div2 {                          /*  middle body */
  display: table;
  margin: auto;
  width: 960px;
  margin-bottom: 30px;
  margin-top: 30px;
}



#section1 {
  display: table;
  margin: auto;
}

#section2, #section3, #section4, #section5 {
  display: inline-block;
}

#section2, #section3 {
  margin-right: 26px;
}




#div3 {                           /*  bottom body */
  display: table;
  margin: auto;
  width: 960px;
  height: 480px;
  /* margin-bottom: 30px; */
}

#section6 {
  height: 100px;
  width: 100px;
  overflow: auto;
  /* padding-left: 30px; */
}

#scrollsection {
  display: inline-block;
  /* height: 480px;
  width: 370px; */
  /* margin-left: 10px; */
}